/*  COLOR SCHEME
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;

  FONT SCHEME
    font-family: 'Poppins', sans-serif;
    --Font Weight: 300, 400 e 500
*/

ul{
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

body{
    height: 100vh;
    width: 100%;
    background-image: url(./assets/bg_gray_definitive.jpeg  );
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

main{
    width: 100%;
    display: flex;
    align-items: center;
}

.countdown_section{
    flex-basis: 50%;
    display: grid;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

.countdown_description, #finish{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 3.375rem;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #f74b4b;
    text-align: center;
    text-shadow: 0.063rem 0.063rem 0.188rem #000000;
}

#lalla{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 3.375rem;
    /* letter-spacing: 0.105em; */
    text-transform: uppercase;
    color: #ff3333;
    -webkit-text-stroke: 0.001rem #ffffff;
    font-style: oblique;
    text-align: center;
    padding-bottom: 2.5rem;
    text-shadow: 0.031rem 0.031rem #000000;
}

.countdown_exhibition{
    display: flex;
    padding-bottom: 1.875rem;
}

.time_cell{
    min-width: 8.75rem;
    display: grid;
    justify-content: center;
    align-items: center;

}

.time_name{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.313rem;
    text-transform: capitalize;
    color: #ffffff;
    text-align: center;
    text-shadow: 0.063rem 0.063rem #000000;
}

.colon_sign{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 6.75rem;
    color: #ff3333;
    padding-top: 1.125rem;
    /* -webkit-text-stroke: 0.5px #ffffff;
    text-shadow: 0 0 3px #ffffff; */
    text-shadow: 0.063rem 0.063rem 0.188rem #000000;
}

.counter_numbers{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 6.75rem;
    text-align: center;
    color: #ff3333;
    min-width: 8.125rem;
    /* -webkit-text-stroke: 0.5px #ffffff; */
    /* text-shadow: 0 0 3px #ffffff; */
    text-shadow: 0.063rem 0.063rem 0.188rem #000000;   
    
}

/* STYLE PARA O CONTADOR UNICO*/
/* #countdown{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 108px;
    text-align: center;
    color: #c40000;
    border: 2px dashed greenyellow;
} */

.subscribe_description{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.313rem;
    color: #ff3333;
    text-align: center;
    padding-bottom: 1.875rem;
    text-shadow: 0.063rem 0.063rem 0.188rem #000000;
}

#button_box{
    text-align: center;
}

.button_style{
    width: 10rem;
    height: 2.875rem;
    background: #ff6363;
    border-radius: 0.625rem;
    border: none;
    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #FFFFFF;
    text-align: center;
}

.image_promotional_section{
    flex-basis: 50%;
}

.poster_box{
    height: 31.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.poster_box img{
    height: 100%;
    width: 50%;
    filter: drop-shadow(0 0 0.75rem rgb(220, 20, 20));
    padding-bottom: 1.875rem;    
}

#finish{
    padding-bottom: 1.875rem;
    text-decoration: none;
}

#finish a, #finish a:visited{
    color: #f74b4b;
    text-decoration: none;
}

figcaption{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 0.625rem;
    line-height: 0.625rem;
    text-transform: capitalize;
    color: #ffffff;
    text-align: center;
    text-shadow: 0.063rem 0.063rem #000000;
}

#modal_subscribe{
    display: none;
    position: fixed;
    padding-top: 3.125rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
.modal_content {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fefefe;
    margin: auto;
    padding: 1.25rem;
    border: 0.063rem solid #888888;
    width: 50%;

}

.modal_content h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 3.375rem;
    /* letter-spacing: 0.105em; */
    text-transform: uppercase;
    color: #ff3333;
    -webkit-text-stroke: 0.001rem #000000;
    font-style: oblique;
    text-align: center;
    padding-bottom: 1.25rem;
    text-shadow: 0.031rem 0.031rem #000000;
}

.subtitle_modal h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}

.subtitle_modal{
    padding-bottom: 1.25rem;
}

.detail_modal p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}

.detail_modal{
    padding-bottom: 1.25rem;
}

.modal_box input, .modal_box input::placeholder{
    width: 31.25rem;
    height: 3.125rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.938rem;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #474747;
    font-style: italic;
}

.modal_box input{
    padding-left: 0.625rem;
}
  
.subscribe_alert_erro{
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    color: #ff0000;
    font-size: 0.625rem;
}

/* Botão de fechar*/

.close_box{
    display: flex;
    justify-content: flex-end;
}
  
.close_modal {
    color: #aaaaaa;
    font-size: 1.75rem;
    font-weight: bold;
}
  
.close_modal:hover,
.close_modal:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

#thankyou_box{
    display: none;
    position: fixed;
    padding-top: 3.125rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#thankyou_content{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ff3333;
    margin: auto;
    padding: 2.5rem;
    width: 50%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 0.625rem;
    color: #ffffff;
    border-radius: 0.625rem;
}

#thankyou_close{
    padding-bottom: 1.25rem;
}